body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
}

/* typography */
select,
button {
  font-family: "Inter", sans-serif;
}

select {
  font-weight: 400;
  font-size: 1rem;
}

button,
.hex-code {
  font-weight: 500;
  font-size: 12px;
}

/* layout + style */
main {
  background-color: #fff;
  width: 550px;
  margin: 2rem auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 24px 15px;
}

.color-input {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

input[type="color"] {
  width: 61px;
  height: 42px;
  box-sizing: border-box;
  border: 0.5px solid #d1d5db;
  padding: 0;
}

select {
  width: 312px;

  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  align-self: flex-start;
  padding: 0.5em;
}

.btn-radio-area {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 12px;
}

button {
  width: 133px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  background: lightgrey;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  align-self: flex-start;
  padding: 0.85em;
  margin-bottom: 1em;
}

button:hover {
  background-color: rgb(176, 175, 175);
}

/* MAIN */
.colors-container {
  display: flex;
  cursor: pointer;
}

#seed-color-hex {
  cursor: pointer;
}

.color-container {
  width: 100%;
}
.color {
  width: 100%;
  height: 414px;
}

.hex-code {
  text-align: center;
  padding: 11px 0;
  color: #2b283a;
}

/* Colors for placeholder color-divs */
.red {
  background-color: #ff0000;
}
.blue {
  background-color: #0000ff;
}
.green {
  background-color: #00ff00;
}
.yellow {
  background-color: #ffff00;
}
.violet {
  background-color: #ff00ff;
}

@media (max-width: 549px) {
  main {
    width: 100%;
  }

  header {
    flex-direction: column;
    padding: 10px;
  }
  .color-picker-and-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  select {
    align-self: center;
  }
  .btn-radio-area {
    flex-direction: row-reverse;
    justify-content: space-around;
    /* margin-top: 20px; */
  }

  label {
    margin-top: 5px;
  }

  button {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .colors-container {
    flex-direction: column;
    overflow: hidden;
  }
  .color-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
  }
  .color {
    width: 70%;
    height: 414px;
  }
  .hex-code {
    margin-top: 25px;
    padding-top: 0;
    width: 30%;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.4);
  }
  #seed-color-hex {
    margin-top: 0;
  }

  select,
  option {
    font-size: 12px;
  }
}
